body {
  background-color: #158CBA;
}

#profile-head {
  margin: auto;
  text-align: center;
}

#profile-head .user_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: gray;
}

#bio {
  text-align: center;
}

.profile-list {
  list-style-type: none;
}

#profile {
  margin-bottom: 10%;
}