body {
  background-color: #158CBA;
}

#profile-head {
  margin: auto;
  text-align: center;
}

.user_image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: gray;
}

#bio {
  text-align: center;
}

.profile-list {
  list-style-type: none;
}