<div class="container">
  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Edit Profile</legend>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="gender">Gender</label>
    <div class="col-md-4">
      <select ng-model="gender" id="gender" name="gender" class="form-control">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="looking-for">Looking For</label>
    <div class="col-md-4">
      <select ng-model="lookingFor" id="looking-for" name="looking-for" class="form-control">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="ethnicity">Ethnicity</label>
    <div class="col-md-4">
      <select ng-model="ethnicity" id="ethnicity" name="ethnicity" class="form-control">
        <option value="White">White</option>
        <option value="Asian">Asian</option>
        <option value="Hispanic">Hispanic</option>
        <option value="Black">Black</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="height">Height</label>  
    <div class="col-md-4">
    <input ng-model="height" id="height" name="height" type="text" placeholder="height" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="age">Age</label>  
    <div class="col-md-4">
    <input ng-model="age" id="age" name="age" type="text" placeholder="Age" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="eye-color">Eye Color</label>  
    <div class="col-md-4">
    <input ng-model="eyeColor" id="eye-color" name="eye-color" type="text" placeholder="Eye Color" class="form-control input-md" required="">
    </div>
  </div>

  <div class="form-actions text-center">
      <button type="submit" class="btn">Confirm</button>
  </div> <br>

  <legend></legend>

  </fieldset>
  </form>
</div>
