<div class="navbar navbar-default" role="navigation" ng-controller="NavCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/images/logo.png">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#/">Matchbox</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active><a ui-sref="main">Home</a></li>
        <li ui-sref-active ng-hide="isAuthenticated()"><a ui-sref="login">Log In</a></li>
        <li ui-sref-active ng-show="isAuthenticated()"><a ui-sref="logout">Log Out</a></li>
        <li ui-sref-active ng-show="isAuthenticated()"><a ui-sref="search">Search</a></li>
        <li ui-sref-active ng-show="isAuthenticated()"><a ng-href="#/user/{{getToken()}}">Profile</a></li>
      </ul>
    </div>
  </div>
</div>