<div id="profile" class="container">
  <div id="profile-head" class="row">
    <div class="panel col-md-12">
      <div class="panel-body">
        <img ng-src="{{user.user_image}}" alt="user_image" class="user_image"/>
        <h1>{{user.username}}</h1>
        <h3>{{user.age}} &#8226 {{user.gender}} &#8226 {{user.location}}</h3>
        <button ng-click="chat=!chat" class="btn btn-success col-md-5">
          Message
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </button>
        <button  ng-click="video=!video"class="btn btn-success col-md-5 col-md-offset-2">
          Chat
          <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
        </button> <br><br>
        <a ui-sref="edit" ng-if="id === current_id" class="btn btn-primary btn-lg">
          Edit
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>

        <div ng-show="video">
          <p>Matchbox Video</p>
          <video id="localVideo" autoplay></video>
        </div>

        <div ng-if="chat">
          <div class="well" ng-controller="FirebaseCtrl">
            <div class="example-chat l-demo-container">
              <header>Matchbox Chat</header>

              <div class="">
                <label for="nameInput">Username:</label>
                <input ng-model="name" type="text" id="nameInput" placeholder="enter a username...">
              </div>

              <ul class="panel panel-default chatting">
                <li ng-repeat="msg in messages">
                  <strong>{{ msg.from }}:</strong>
                  {{ msg.body }}
                </li>
              </ul>

              <footer>
                <input ng-model="msg" ng-keydown="addMessage($event)" type="text" id="messageInput"  placeholder="Type a message...">
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3>About {{user.username}}</h3>
        </div>
        <div class="panel-body">
          {{user.bio}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
          <h3>Details</h3>
        </div>
        <div class="panel-body">
          <ul class="profile-list">
            <li>Gender: {{user.gender}}</li>
            <li>Looking For: {{user.looking_for}}</li>
            <li>Ethnicity: {{user.ethnicity}}</li>
            <li>Height: {{user.height}}</li>
            <li>Age: {{user.age}}</li>
            <li>Eye Color: {{user.eye_color}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
          <h3>Interests</h3>
        </div>
        <div class="panel-body">
          <ul class="profile-list">
            <li ng-repeat="interest in interests">
              {{interest.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



</div>
